@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css";

/* body {
  margin: 0;
  background: #0e0b16;
  font-family: 'Segoe UI', sans-serif;
} */

:root {
  --color-dark: #1a1a1a;
  --color-light: #fafaf8;
  --color-gray: #5a5558;
  --color-accent: #c4795b;
  --color-muted: #8b9d83;

  --font-heading: 'Cormorant Garamond', serif;
  --font-body: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-light);
  color: var(--color-dark);
}
